click==7.1.1
cycler==0.10.0
Flask==1.1.2
iplot==0.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.14.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib
nltk==3.4.5
numpy
pandas
plot==0.6.5
plotly==4.6.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
retrying==1.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
typing==3.7.4.1
Werkzeug==1.0.1
